<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_Name" value="springmvcconfig"/>
    <contextName>${APP_Name}</contextName>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8" class="com.zzw.encoder.LogBackExEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%T] [%thread] %-5level %logger{35} %m%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/${APP_Name}/info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/springmvcconfig/info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8" class="com.zzw.encoder.LogBackExEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%T] [%thread] [%-5p] [%c{1}] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/${APP_Name}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/springmvcconfig/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8" class="com.zzw.encoder.LogBackExEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%T] [%thread] [%-5p] [%c{1}] %m%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
